<!--/**
 * File Name: Assingment 1 Portfolio
 * Name: Bhavyadeep Jagani
 * Student ID: 301234500
 * Date: 06 Feb 2023
 */-->
 <%-include partials/header.ejs%>

 <!--Main nav Navigation-->
 <%-include partials/main_nav.ejs%>
 <main class="container">
   <div class="jumbotron">
    
      <br/>
    <!-- <h1 class ="display-4">Welcome to the <%=title %> Page</h1>-->
    <img  class="mx-auto d-block" src="./Assets/images/headshot.jpg" style="width:170px; height: 170px;">

    <h1 class ="display-5" style="color:darkcyan; text-align: center;">Bhavyadeep Jagani</h1>
    <br>
    <p style="text-align: justify; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 220%; color: rgb(85, 85, 85);">I am highly energetic, outgoing and detail oriented. I can handle multiple responsibilities simultaneously with accuracy and efficiency. I am also very reliable and friendly who quickly learns and masters new tasks and skills. </p>
    <p style="font-size: large;">Click below to download my resume.</p>

     <a class="btn" style="background-color: darkcyan; color: white;" role="button" href="./Assets/resume.pdf" download="resume.pdf">Download</a>

   

   </div>
   

 </main>

 <%-include partials/bottom_nav.ejs%>

<!-- <h1><%= title %></h1>-->
 <!--<p>Welcome to <%= title %></p>-->

<%-include partials/footer.ejs%>
