<!--/**
 * File Name: Assingment 1 Portfolio
 * Name: Bhavyadeep Jagani
 * Student ID: 301234500
 * Date: 06 Feb 2023
 */-->
 <!--
  Code Taken from
  Professor Blessing Ajiboye, COMP229 Web Application and Development
-->
<%-include partials/header.ejs%>

<!--Main nav Navigation-->
<%-include partials/main_nav.ejs%>
<main class="back1">
  <div class="jumbotron" >
    <br>
    <h1 class ="display-4" style="color:rgb(54, 195, 195); text-align: center;">Welcome to my Portfolio</h1>
    <br>
    <br>
    <p style="margin: 30px; text-align: justify; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 220%; color: rgb(176, 170, 170)" >To succeed in an environment of growth and excellence and earn a position which provides me job satisfaction and self-development and help me achieve personal as well as organizational goals.</p>
   
  </div>


  
</main>
<%-include partials/bottom_nav.ejs%>

<!-- <h1><%= title %></h1>-->
<!--<p>Welcome to <%= title %></p>-->

<%-include partials/footer.ejs%>
