<!--/**
 * File Name: Assingment 1 Portfolio
 * Name: Bhavyadeep Jagani
 * Student ID: 301234500
 * Date: 06 Feb 2023
 */-->
 <%-include partials/header.ejs%>

 <!--Main nav Navigation-->
 <%-include partials/main_nav.ejs%>



 <main class="container">
   <div class="jumbotron">
     <br/>
     <h1 class ="display-4" style="text-align: center; color: darkcyan;">Projects I have worked on...</h1>
     <br/>
     <br/>
 
      <div class="row">
        <div class="column left">
          <h2 style="text-align: start; color: darkcyan; font-size: 170%;">Hand Gesture Based Interaction System Using Deep Learning</h2>

          <p style = "padding-left:20px; text-align: justify; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 150%; color: rgb(85, 85, 85);">&nbsp;&nbsp;&nbsp;&nbsp;Objective is to develop and implement a set of machine learning algorithms that use gesture recognition to control the keyboard and mouse in a demo application in real-time using a webcam to demonstrate the technique of a hand-gesture-based interaction system to improve the interaction between humans and computers</p>

        </div>
        
        <div class="column right">

          <img class="rounded" src="./Assets/images/deeplearning.png" style = "height: 250px; margin-left: 100px;">

        </div>

      </div>

      <div class="row">
        
        
        <div class="column left">
          <h2 style="text-align: start; color: darkcyan; font-size: 170%;">Industrial Fault Monitoring System - IOT</h2>
          <p  style = "padding-left:20px; text-align: justify; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 150%; color: rgb(85, 85, 85);">&nbsp;&nbsp;&nbsp;&nbsp;It is web based Monitoring System which alerts the user in case of emergency in the industry based on data collected from sensors, for example if there is a rise in temperature in a boiler than the operator will be immediately notified using a graphical UI and an Alarm.</p>

        </div>
        <div class="column right">

          <img class="rounded" src="./Assets/images/iot.jpg" style = "height: 250px; margin-left: 100px;">

        </div>
      </div>

      <div class="row">
        <div class="column left">
          <h2 style="text-align: start; color: darkcyan; font-size: 170%;">Audio based Attendance System</h2>

          <p  style = "padding-left:20px; text-align: justify; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 150%; color: rgb(85, 85, 85);">&nbsp;&nbsp;&nbsp;&nbsp;It is a mobile App that takes takes attendance of employees based on their voice which are pre-recorded and trained using Machine learning models and it matched every time an employee speaks into the microphone. Along with their voice the WiFi gateway of the company branch where that employee works is also check in order to avoid fake attendance.</p>

        </div>
        
        <div class="column right">

          <img class="rounded" src="./Assets/images/machinelearning.png" style = "height: 250px; margin-left: 20px;">
        </div>
      </div>
    
   </div>

 </main>
 <%-include partials/bottom_nav.ejs%>

<!-- <h1><%= title %></h1>-->
 <!--<p>Welcome to <%= title %></p>-->

<%-include partials/footer.ejs%>
