<!--/**
 * File Name: Assingment 1 Portfolio
 * Name: Bhavyadeep Jagani
 * Student ID: 301234500
 * Date: 06 Feb 2023
 */-->
 <%-include partials/header.ejs%>

 <!--Main nav Navigation-->
 <%-include partials/main_nav.ejs%>


 <main class="container">
   <div class="jumbotron">
     <br>
     <h1 class ="display-4" style="text-align: center; color: darkcyan;">Services that I provide...</h1>
     
     <div class="row">
      <div class="column left">
        <h2 style="text-align: start; color: darkcyan; font-size: 170%;">Machine Learning</h2>
        <img class="rounded" src="./Assets/images/machine.png" style = "height: 250px; margin-left: 100px;">

      </div>
      
  
    </div>
    <div class="row">
      <div class="column left1">


      </div>
      
      <div class="column right1">
        <h2 style="text-align: end; color: darkcyan; font-size: 170%;">Web Application Development</h2>
        <img class="rounded" src="./Assets/images/webapp.png" style = "height: 250px; margin-left: 150px;">

      </div>
    </div>

    <div class="row">
      <div class="column left">
        <h2 style="text-align: start; color: darkcyan; font-size: 170%;">General Programming</h2>
        <img class="rounded" src="./Assets/images/program.png" style = "height: 250px; margin-left: 20px; margin-left: 100px;">


      </div>
      
      <div class="column right">

      </div>
    </div>

    <div class="row">
      <div class="column left1">


      </div>
      
      <div class="column right1">
        <h2 style="text-align: end; color: darkcyan; font-size: 170%;">Android App Development</h2>
        <img class="rounded" src="https://myexpressportfolio.onrender.com/Assets/images/android.png" style = "height: 250px; margin-left: 160px;">

      </div>
    </div>
   </div>

 </main>
 <%-include partials/bottom_nav.ejs%>

<!-- <h1><%= title %></h1>-->
 <!--<p>Welcome to <%= title %></p>-->

<%-include partials/footer.ejs%>
