<!--/**
 * File Name: Assingment 1 Portfolio
 * Name: Bhavyadeep Jagani
 * Student ID: 301234500
 * Date: 26 Feb 2023
 */-->
 <!--
  Code Taken from
  Professor Blessing Ajiboye, COMP229 Web Application and Development
-->
<%-include ../partials/header.ejs%>
<%-include ../partials/main_nav.ejs%>
<!--Content for the Edit Page-->
<br>
<main class="container">
    <div class="row" style="margin-left: 20%;">
        <div class="offset-md-3 col-md-6">
        <h1  STYLE="color: darkcyan;"><%=title%></h1>
            <form class="form" method="POST">
                <div class="form group">
                    <label for="nameTextField">Name</label>
                    <input type="text" class="form control"
                    id="nameTextField"
                    placeholder = "Enter name of the Business Contact"
                    name="name" 
                    value="<%=contact.name%>"
                    required>
                    </div>
                    
                    <div class="form group">
                    <label for="authorTextField">Number</label>
                    <input type="text" class="form control"
                    id="authorTextField"
                    placeholder = "Enter Phone number of the Business Contact"
                    name="number"
                    value="<%=contact.number%>"
                    required>
                    </div>
                    
                    <div class="form group">
                    <label for="publishedTextField">Year</label>
                    <input type="text" class="form control"
                    id="publishedTextField"
                    placeholder = "Enter Email Address of the Business Contact"
                    name="email" 
                    value="<%=contact.email%>"
                    required>
                    </div>
                    <br>
                    <button class="btn" type="submit" style="background-color: darkcyan; color: white;"><i class="fas fa-edit"></i>Submit</button>
                    <a href="/updateList" class="btn" style="background-color: lightcoral; color: white;"><i class="fas fa-undo"></i>Cancel</a>

                    


                </form>
           </div>
        </div>
    </main>



 <%-include ../partials/bottom_nav.ejs%>
 <%-include ../partials/footer.ejs%>